* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  background: #524035;
}

.texts {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  font-size: 20px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  color: #000;
  transition-duration: 0.3s;
}

.navbar a:hover {
  color: #a18778;
}

main {
  margin-top: 5%;
  margin-bottom: 5%;
}

.box {
  width: 1150px;
  height: 542px;
  border: solid #524035 1.5px;
  display: flex;
  align-items: center;
  margin: auto;
}

.elements {
  display: flex;
  align-items: center;
}

.image img {
  margin-top: 3px;
  width: 448px;
}

.forms {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  gap: 20px;
}

.name label,
.email label,
.message label {
  font-weight: bolder;
}

input {
  width: 50vh;
  height: 7vh;
  font-weight: bold;
}

.forms input::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: bolder;
}

.forms label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.forms input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bolder;
}

button{
  width: 50vh;
  height: 7vh;
  color: #fff;
  border: none;
  background: #a18778;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 5px;
}